<h2>Action Items</h2>

<% action_items = locals[:data][:action_items] %>

<table class="table">
  <tr>
    <td>Helm Releases</td>
    <td><%= action_items[:helm_whatup] %></td>
  </tr>

  <tr>
    <td>Terraform Modules</td>
    <td><%= action_items[:terraform_modules] %></td>
  </tr>

  <tr>
    <td>Documentation Pages</td>
    <td><%= action_items[:documentation] %></td>
  </tr>

  <tr>
    <td>GitHub Repositories</td>
    <td><%= action_items[:repositories] %></td>
  </tr>
</table>
