<% if list.any? %>
  <div class="table-responsive">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Migrated by date</th>
      <th scope="col">Migrated to date</th>
      <th scope="col">Percentage to date</th>
    </tr>
  </thead>
  <tbody>
  <% list.reverse.each do |item| %>
    <tr>
      <td><%= item["date"] %></td>
      <td><%= item["todayCount"] %></td>
      <td><%= item["tillCount"] %></td>
      <td><%= item["percentage"] %>%</td>
    </tr>
  <% end %>
  </tbody>
  </table>
  </div>
<% else %>
<h1>
  Awaiting data
</h1>

<% end %>
