<p class="last_updated">Last updated: <%= updated_at.strftime("%Y-%m-%d %H:%M:%S") %> UTC. Updated every 30 minutes</p>
<p>
  Total requested: <%= total_requested %>
</p>
<!--Div that will hold the pie chart-->
<div id="chart_div"></div>
