<h2><%= namespace_cost.namespace %></h2>

<p>
These are costs as reported by <a href="https://infracost.io">infracost</a>,
for AWS resources dedicated to each namespace.
Infracost only reports on a subset of AWS resources
(see their list of <a href="https://www.infracost.io/docs/supported_resources">supported resources</a>),
so some namespace resources may not be included in this report.
</p>

<p>
Shared costs, both AWS resources and the staff and ancillary costs of the Cloud Platform
team, are distributed evenly across all namespaces.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Monthly Cost ($)</th>
    </tr>
  </thead>
  <tbody>
    <% namespace_cost.resources.each do |resource| %>
      <tr>
        <td><%= resource.fetch(:name) %></td>
        <td class="text-right"><%= commify resource.fetch(:monthly_cost) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th class="text-right"><%= commify namespace_cost.total %></th>
    </tr>
  </tfoot>
</table>
