<h2><%= namespace %></h2>

<p>
  Data provided by the
  <a href="https://github.com/ministryofjustice/cloud-platform-cost-calculator">Cloud Platform Cost Calculator</a>
</p>

<p>
AWS resources which do not have the correct "namespace" tag will not be reported correctly.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Monthly Cost ($)</th>
    </tr>
  </thead>
  <tbody>
    <% resource_costs.each do |i| %>
      <tr>
        <td><%= i[0] %></td>
        <td class="text-right"><%= commify i[1] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th class="text-right"><%= commify total %></th>
    </tr>
  </tfoot>
</table>

<p>
  <a href="/costs_by_namespace">Back</a>
</p>
