<h2>Namespace Costs</h2>

<p>
These are costs as reported by <a href="https://infracost.io">infracost</a>,
for AWS resources dedicated to each namespace.
Infracost only reports on a subset of AWS resources
(see their list of <a href="https://www.infracost.io/docs/supported_resources">supported resources</a>),
so some namespace resources may not be included in this report.
</p>

<p>
Shared costs, both AWS resources and the staff and ancillary costs of the Cloud Platform
team, are distributed evenly across all namespaces.
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Namespace</th>
      <th>Monthly Cost ($)</th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |nc| %>
      <tr>
        <td>
          <a href="/namespace_cost/<%= nc.namespace %>">
            <%= nc.namespace %>
          </a>
        </td>
        <td class="text-right"><%= commify nc.total %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th><%= commify total %></th>
    </tr>
  </tfoot>
</table>
