<p>
Data from here: <a href="https://github.com/ministryofjustice/cloud-platform-orphaned-terraform-statefiles">Orphaned Terraform Statefiles</a>
</p>

<ul>
  <% list.sort.each do |file| %>
    <li><%= file %></li>
  <% end %>
</ul>
