<% if list.any? %>
  <div class="row">
    <% list.each do |repo| %>
      <a href="<%= repo["url"] %>">
        <div class="card text-white bg-danger mb-3 mr-3" style="max-width: 18rem;">
          <div class="card-header">
            <h5 class="card-title"><%= repo["name"] %></h5>
          </div>
          <div class="card-body">
            <h6>Failed checks:</h6>
            <% repo["report"].each do |key, value| %>
              <% if !value %>
                <%= key %><br/>
              <% end %>
            <% end %>
          </div>
        </div>
      </a>
    <% end %>
  </div>
<% else %>
  <h1>
    Awaiting data
  </h1>
<% end %>
